<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fleym.nongd/JB_Edit.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{64,59}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,0},{64,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fleym.nongd/JB_ListLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,-4}</string>
			<key>spriteSize</key>
			<string>{639,133}</string>
			<key>spriteSourceSize</key>
			<string>{683,159}</string>
			<key>textureRect</key>
			<string>{{0,61},{639,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fleym.nongd/JB_PinDisc.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{75,75}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{0,196},{75,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fleym.nongd/JB_PinDiscGold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{73,73}</string>
			<key>spriteSourceSize</key>
			<string>{73,73}</string>
			<key>textureRect</key>
			<string>{{77,196},{73,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fleym.nongd/JB_PinDiscRays.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{90,90}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{152,196},{90,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>fleym.nongd/JukeboxSheet-hd.png</string>
		<key>size</key>
		<string>{639,286}</string>
		<key>textureFileName</key>
		<string>fleym.nongd/JukeboxSheet-hd.png</string>
	</dict>
</dict>
</plist>