<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>eclipse.eclipse-menu/1f1e6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1e7.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1e8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1e9.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ea.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{152,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1eb.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{190,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ec.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{228,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{266,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ee.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{304,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ef.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{342,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{380,0},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f5.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{152,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{190,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f7.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{228,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{266,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f9.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{304,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1fa.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{342,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1fb.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{380,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1fc.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,76},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1fd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,76},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1fe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,76},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,76},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f30a.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{152,76},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f317.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{190,76},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f319.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{69,71}</string>
			<key>spriteSourceSize</key>
			<string>{69,71}</string>
			<key>textureRect</key>
			<string>{{272,76},{69,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f31a.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{345,76},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f31d.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{383,76},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f31e.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{345,114},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f389.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{383,114},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f3ae.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{36,31}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,114},{36,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f3af.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,114},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f41f.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2.5}</string>
			<key>spriteSize</key>
			<string>{36,31}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,114},{36,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f431.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,114},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f435.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{152,114},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f436.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,147},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f437.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,147},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f43b.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{272,147},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f440.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,34}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{310,152},{36,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f442.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{31,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,152},{31,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f44b.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{348,152},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f44d.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{48,47}</string>
			<key>spriteSourceSize</key>
			<string>{48,47}</string>
			<key>textureRect</key>
			<string>{{386,152},{48,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f44e.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{47,47}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{114,152},{47,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f451.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{36,35}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{163,158},{36,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f476.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{201,158},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f47b.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{239,185},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f47d.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,185},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f480.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,185},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f485.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,185},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f48e.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{87,79}</string>
			<key>spriteSourceSize</key>
			<string>{87,79}</string>
			<key>textureRect</key>
			<string>{{277,190},{87,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f494.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{163,195},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f499.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{201,196},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f4a0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{54,40}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{366,201},{54,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f4a1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{28,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,201},{28,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f4aa.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{239,223},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f4ad.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,223},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f4af.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,223},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f507.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{35,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,223},{35,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f525.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,231},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f52b.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{36,35}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{152,233},{36,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f535.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{190,261},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f539.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{40,37}</string>
			<key>spriteSourceSize</key>
			<string>{40,37}</string>
			<key>textureRect</key>
			<string>{{366,243},{40,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f5e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{408,243},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f5ff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,260},{32,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f604.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,261},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f605.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,261},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f608.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,269},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f60a.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{152,270},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f60c.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{272,271},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f60d.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{310,271},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f60e.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{408,281},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f60f.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{348,282},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f614.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,294},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f615.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,299},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f622.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,299},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f624.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,307},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f62c.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{152,308},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f62d.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{272,309},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f631.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{310,309},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f634.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{386,319},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f648.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{348,320},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f649.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,332},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f64a.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,337},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f64c.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,337},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f64f.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{190,343},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f680.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{228,343},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f6cc.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-4.5}</string>
			<key>spriteSize</key>
			<string>{36,27}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,345},{36,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f6de.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{79,79}</string>
			<key>spriteSourceSize</key>
			<string>{79,79}</string>
			<key>textureRect</key>
			<string>{{266,347},{79,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f7e1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{347,358},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f913.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{152,346},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f914.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,370},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f916.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,374},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f921.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,375},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f928.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,375},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f92b.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{190,381},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f92f.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{228,381},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f98a.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{152,384},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f9d6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{36,35}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,408},{36,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f9ff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,48}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{0,413},{72,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1faa9.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{190,419},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2666.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{39,63}</string>
			<key>spriteSourceSize</key>
			<string>{63,63}</string>
			<key>textureRect</key>
			<string>{{114,422},{39,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/2699.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{256,428},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2705.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{49,47}</string>
			<key>spriteSourceSize</key>
			<string>{49,47}</string>
			<key>textureRect</key>
			<string>{{294,428},{49,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/270c.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{28,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{345,440},{28,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/2728.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{383,440},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2744.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{74,445},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/274c.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{112,463},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2753.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{27,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,463},{27,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/2757.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,85}</string>
			<key>spriteSourceSize</key>
			<string>{36,85}</string>
			<key>textureRect</key>
			<string>{{256,477},{36,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/2764.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{345,470},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2b50.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{47,44}</string>
			<key>spriteSourceSize</key>
			<string>{47,44}</string>
			<key>textureRect</key>
			<string>{{383,478},{47,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2b55.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{79,79}</string>
			<key>spriteSourceSize</key>
			<string>{79,79}</string>
			<key>textureRect</key>
			<string>{{162,485},{79,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/30-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,483},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/31-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,492},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/32-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{343,508},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/33-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{76,513},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/34-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{114,513},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/35-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{243,515},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/36-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{281,515},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/37-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{38,521},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/38-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{381,524},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/39-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,530},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>eclipse.eclipse-menu/emojis-hd.png</string>
		<key>size</key>
		<string>{444,566}</string>
		<key>textureFileName</key>
		<string>eclipse.eclipse-menu/emojis-hd.png</string>
	</dict>
</dict>
</plist>