<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>eclipse.eclipse-menu/1f1e6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1e7.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{74,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1e8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{148,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1e9.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{222,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ea.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{296,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1eb.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{370,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ec.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{444,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{518,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ee.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{592,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ef.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{666,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{740,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{814,0},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{0,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{74,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{148,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f5.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{222,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{296,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f7.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{370,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{444,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1f9.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{518,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1fa.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{592,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1fb.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{666,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1fc.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{740,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1fd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{814,74},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1fe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{0,148},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f1ff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{74,148},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f30a.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2.5}</string>
			<key>spriteSize</key>
			<string>{72,67}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{148,148},{72,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f317.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{222,148},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f319.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0.5}</string>
			<key>spriteSize</key>
			<string>{136,141}</string>
			<key>spriteSourceSize</key>
			<string>{138,142}</string>
			<key>textureRect</key>
			<string>{{384,148},{136,141}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f31a.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{527,148},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f31d.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{601,148},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f31e.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{675,148},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f389.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{72,71}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{749,148},{72,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f3ae.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3.5}</string>
			<key>spriteSize</key>
			<string>{72,51}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{823,148},{72,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f3af.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{148,217},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f41f.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{72,56}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{749,221},{72,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f431.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{68,67}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{0,222},{68,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f435.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{69,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{70,222},{69,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f436.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{72,68}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{527,222},{72,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f437.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{72,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{601,222},{72,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f43b.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{675,222},{70,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f440.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,58}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{823,222},{72,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f442.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{53,71}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{749,279},{53,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f44b.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{384,286},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f44d.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{96,94}</string>
			<key>spriteSourceSize</key>
			<string>{96,94}</string>
			<key>textureRect</key>
			<string>{{458,292},{96,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f44e.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{94,92}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{556,292},{94,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f451.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{72,65}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{144,291},{72,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f476.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{72,68}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{0,293},{72,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f47b.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,68}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{652,294},{72,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f47d.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{68,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{74,293},{68,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f480.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{822,296},{64,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f485.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{218,310},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f48e.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{174,157}</string>
			<key>spriteSourceSize</key>
			<string>{174,158}</string>
			<key>textureRect</key>
			<string>{{0,367},{174,157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f494.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{292,310},{72,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f499.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{726,334},{72,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f4a0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-0.5}</string>
			<key>spriteSize</key>
			<string>{106,69}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{292,378},{106,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f4a1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{44,70}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{652,364},{44,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f4aa.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{800,370},{70,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f4ad.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{70,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{176,384},{70,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f4af.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{72,69}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{556,386},{72,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f507.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0}</string>
			<key>spriteSize</key>
			<string>{60,68}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{400,388},{60,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f525.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{69,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{470,388},{69,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f52b.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{72,59}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{724,402},{72,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f535.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{248,450},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f539.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{80,74}</string>
			<key>spriteSourceSize</key>
			<string>{80,74}</string>
			<key>textureRect</key>
			<string>{{630,410},{80,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f5e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{70,68}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{798,442},{70,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f5ff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{54,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{544,457},{54,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f604.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{410,459},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f605.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{712,463},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f608.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{618,486},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f60a.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{786,512},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f60c.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{484,513},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f60d.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{0,526},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f60e.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{74,526},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f60f.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{148,526},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f614.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{410,533},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f615.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{692,537},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f622.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{558,560},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f624.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{766,586},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f62c.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{484,587},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f62d.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{0,600},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f631.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{74,600},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f634.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{148,600},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f648.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{410,607},{70,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f649.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{632,611},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f64a.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{222,612},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f64c.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{296,612},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f64f.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{558,634},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f680.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,1}</string>
			<key>spriteSize</key>
			<string>{71,70}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{706,660},{71,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f6cc.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{72,48}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{840,586},{72,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f6de.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{158,158}</string>
			<key>spriteSourceSize</key>
			<string>{158,158}</string>
			<key>textureRect</key>
			<string>{{0,674},{158,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f7e1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{370,679},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f913.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{779,660},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f914.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{69,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{632,685},{69,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f916.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{72,70}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{160,686},{72,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f921.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{234,686},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f928.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{532,708},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f92b.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{68,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{706,734},{68,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f92f.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{69,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{780,734},{69,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/1f98a.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,64}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{606,756},{72,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f9d6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3.5}</string>
			<key>spriteSize</key>
			<string>{72,65}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{160,758},{72,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1f9ff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{143,85}</string>
			<key>spriteSourceSize</key>
			<string>{144,144}</string>
			<key>textureRect</key>
			<string>{{680,805},{143,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/1faa9.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{234,760},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2666.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{68,126}</string>
			<key>spriteSourceSize</key>
			<string>{126,126}</string>
			<key>textureRect</key>
			<string>{{532,822},{68,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/2699.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{160,825},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2705.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{98,94}</string>
			<key>spriteSourceSize</key>
			<string>{98,94}</string>
			<key>textureRect</key>
			<string>{{0,834},{98,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/270c.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{45,67}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{825,805},{45,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2728.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{68,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{364,841},{68,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2744.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{68,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{434,841},{68,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/274c.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{96,96}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{234,890},{96,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2753.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{42,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{100,834},{42,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2757.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{70,168}</string>
			<key>spriteSourceSize</key>
			<string>{72,170}</string>
			<key>textureRect</key>
			<string>{{660,892},{70,168}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/2764.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{508,892},{72,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2b50.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{94,88}</string>
			<key>spriteSourceSize</key>
			<string>{94,89}</string>
			<key>textureRect</key>
			<string>{{100,902},{94,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/2b55.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{158,158}</string>
			<key>spriteSourceSize</key>
			<string>{158,158}</string>
			<key>textureRect</key>
			<string>{{332,911},{158,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/30-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{582,892},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/31-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{0,930},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/32-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{492,960},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/33-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{656,964},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/34-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{730,964},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/35-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{804,964},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/36-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{566,966},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/37-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{196,988},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/38-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{74,992},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/39-20e3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{0,1004},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>eclipse.eclipse-menu/emojis-uhd.png</string>
		<key>size</key>
		<string>{888,1076}</string>
		<key>textureFileName</key>
		<string>eclipse.eclipse-menu/emojis-uhd.png</string>
	</dict>
</dict>
</plist>