<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>eclipse.eclipse-menu/align_middle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/align_midleft.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{122,0},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/align_topleft.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{244,0},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/arrow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{156,96}</string>
			<key>spriteSourceSize</key>
			<string>{156,96}</string>
			<key>textureRect</key>
			<string>{{366,0},{156,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/checkmark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{183,129}</string>
			<key>spriteSourceSize</key>
			<string>{183,129}</string>
			<key>textureRect</key>
			<string>{{524,0},{183,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/circle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{192,192}</string>
			<key>spriteSourceSize</key>
			<string>{192,192}</string>
			<key>textureRect</key>
			<string>{{0,122},{192,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/event_icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{366,98},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/falign_center.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{82,72}</string>
			<key>spriteSourceSize</key>
			<string>{82,72}</string>
			<key>textureRect</key>
			<string>{{194,122},{82,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/falign_left.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{82,72}</string>
			<key>spriteSourceSize</key>
			<string>{82,72}</string>
			<key>textureRect</key>
			<string>{{278,122},{82,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/falign_right.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{82,72}</string>
			<key>spriteSourceSize</key>
			<string>{82,72}</string>
			<key>textureRect</key>
			<string>{{488,185},{82,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/info.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{108,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{572,185},{108,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/preview_icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{120,72}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{194,196},{120,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/rectangle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{228,228}</string>
			<key>spriteSourceSize</key>
			<string>{228,228}</string>
			<key>textureRect</key>
			<string>{{316,259},{228,228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/reset.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{228,180}</string>
			<key>spriteSourceSize</key>
			<string>{228,180}</string>
			<key>textureRect</key>
			<string>{{0,316},{228,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/script_icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,-0}</string>
			<key>spriteSize</key>
			<string>{117,70}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{546,295},{117,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{150,156}</string>
			<key>spriteSourceSize</key>
			<string>{150,156}</string>
			<key>textureRect</key>
			<string>{{546,367},{150,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/tab_betterinfo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{84,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{230,270},{84,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_bot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{118,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{230,489},{118,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/tab_bypass.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{360,489},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_creator.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,120}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,498},{128,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_global.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{490,519},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_interface.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{130,609},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_keybinds.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{260,619},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_labels.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{126,94}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,620},{126,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_level.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{390,649},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{520,649},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_recorder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{128,75}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,716},{128,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_shortcuts.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{130,739},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/trashbin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{147,177}</string>
			<key>spriteSourceSize</key>
			<string>{147,177}</string>
			<key>textureRect</key>
			<string>{{260,779},{147,177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>eclipse.eclipse-menu/UISheet-uhd.png</string>
		<key>size</key>
		<string>{702,926}</string>
		<key>textureFileName</key>
		<string>eclipse.eclipse-menu/UISheet-uhd.png</string>
	</dict>
</dict>
</plist>