<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>eclipse.eclipse-menu/align_middle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/align_midleft.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{32,0},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/align_topleft.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{64,0},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/arrow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{39,24}</string>
			<key>spriteSourceSize</key>
			<string>{39,24}</string>
			<key>textureRect</key>
			<string>{{96,0},{39,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/checkmark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{45,32}</string>
			<key>spriteSourceSize</key>
			<string>{45,32}</string>
			<key>textureRect</key>
			<string>{{137,0},{45,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/circle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{0,32},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/event_icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{96,26},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/falign_center.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{20,18}</string>
			<key>spriteSourceSize</key>
			<string>{20,18}</string>
			<key>textureRect</key>
			<string>{{50,32},{20,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/falign_left.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{20,18}</string>
			<key>spriteSourceSize</key>
			<string>{20,18}</string>
			<key>textureRect</key>
			<string>{{72,32},{20,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/falign_right.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{20,18}</string>
			<key>spriteSourceSize</key>
			<string>{20,18}</string>
			<key>textureRect</key>
			<string>{{128,47},{20,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/info.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{50,52},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/preview_icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{30,24}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{150,47},{30,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/rectangle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{57,57}</string>
			<key>spriteSourceSize</key>
			<string>{57,57}</string>
			<key>textureRect</key>
			<string>{{79,67},{57,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/reset.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{57,45}</string>
			<key>spriteSourceSize</key>
			<string>{57,45}</string>
			<key>textureRect</key>
			<string>{{0,82},{57,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/script_icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{30,22}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{138,79},{30,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{37,39}</string>
			<key>spriteSourceSize</key>
			<string>{37,39}</string>
			<key>textureRect</key>
			<string>{{59,126},{37,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/tab_betterinfo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{26,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{138,103},{26,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/tab_bot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{100,126},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_bypass.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,129},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_creator.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{134,131},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_global.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{100,160},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_interface.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,163},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_keybinds.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{34,165},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_labels.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,28}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{134,165},{32,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_level.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{68,194},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{102,195},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_recorder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,24}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{136,195},{32,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_shortcuts.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,197},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/trashbin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,44}</string>
			<key>spriteSourceSize</key>
			<string>{36,44}</string>
			<key>textureRect</key>
			<string>{{34,228},{36,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>eclipse.eclipse-menu/UISheet.png</string>
		<key>size</key>
		<string>{174,264}</string>
		<key>textureFileName</key>
		<string>eclipse.eclipse-menu/UISheet.png</string>
	</dict>
</dict>
</plist>