<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>eclipse.eclipse-menu/align_middle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/align_midleft.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{62,0},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/align_topleft.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{124,0},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/arrow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{78,48}</string>
			<key>spriteSourceSize</key>
			<string>{78,48}</string>
			<key>textureRect</key>
			<string>{{186,0},{78,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/checkmark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{91,64}</string>
			<key>spriteSourceSize</key>
			<string>{91,64}</string>
			<key>textureRect</key>
			<string>{{266,0},{91,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/circle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{96,96}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{0,62},{96,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/event_icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{186,50},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/falign_center.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{41,36}</string>
			<key>spriteSourceSize</key>
			<string>{41,36}</string>
			<key>textureRect</key>
			<string>{{98,62},{41,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/falign_left.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{41,36}</string>
			<key>spriteSourceSize</key>
			<string>{41,36}</string>
			<key>textureRect</key>
			<string>{{141,62},{41,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/falign_right.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{41,36}</string>
			<key>spriteSourceSize</key>
			<string>{41,36}</string>
			<key>textureRect</key>
			<string>{{248,93},{41,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/info.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{291,93},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/preview_icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{60,42}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{98,100},{60,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/rectangle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{114,114}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{160,131},{114,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/reset.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{114,90}</string>
			<key>spriteSourceSize</key>
			<string>{114,90}</string>
			<key>textureRect</key>
			<string>{{0,160},{114,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/script_icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{60,40}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{276,149},{60,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{75,78}</string>
			<key>spriteSourceSize</key>
			<string>{75,78}</string>
			<key>textureRect</key>
			<string>{{276,191},{75,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_betterinfo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{48,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{116,247},{48,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eclipse.eclipse-menu/tab_bot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{182,247},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_bypass.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,252},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_creator.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{248,271},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_global.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{66,297},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_interface.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{132,313},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_keybinds.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,318},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_labels.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{198,337},{64,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_level.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{264,337},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{66,363},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_recorder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{64,43}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{132,379},{64,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/tab_shortcuts.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,384},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eclipse.eclipse-menu/trashbin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{73,88}</string>
			<key>spriteSourceSize</key>
			<string>{73,88}</string>
			<key>textureRect</key>
			<string>{{198,403},{73,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>eclipse.eclipse-menu/UISheet-hd.png</string>
		<key>size</key>
		<string>{351,476}</string>
		<key>textureFileName</key>
		<string>eclipse.eclipse-menu/UISheet-hd.png</string>
	</dict>
</dict>
</plist>