<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_12DoC2022.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{36,38}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,0},{36,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_12DoC2023.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{31,33}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{40,0},{31,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_12DoC2024.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,1.5}</string>
			<key>spriteSize</key>
			<string>{41,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{75,0},{41,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_12DoC2025.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{35,43}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{118,0},{35,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_19GDPS.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{37,37}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{163,0},{37,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_2PSolo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{202,0},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AeonAir.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{202,37},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ApocalypticTrilogy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,1}</string>
			<key>spriteSize</key>
			<string>{34,38}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{118,37},{34,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Coder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,38},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GD10.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{37,38},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GDDL1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{36,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{158,39},{36,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GDDL2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{38,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{74,43},{38,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Kria.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{114,73},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Lightwave.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{29,29}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{196,74},{29,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_MemoryExpert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{29,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,75},{29,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_MemoryMaster.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{43,34}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{151,76},{43,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_MemoryNovice.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{30,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{37,75},{30,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Minigame.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{29,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{74,80},{29,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_NineCircles.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{33,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{196,105},{33,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Plasma.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,106},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RGB.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{34,34}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{37,107},{34,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Sonic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{33,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{111,110},{33,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SonicWave.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{35,21}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{73,111},{35,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Speedrun.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{31,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{148,112},{31,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Temple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{43,33}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{185,140},{43,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Trusta.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{73,134},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Unknown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{38,36}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,143},{38,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_XXL.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{34,34}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{110,145},{34,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/Bonus.png</string>
		<key>size</key>
		<string>{237,179}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/Bonus.png</string>
	</dict>
</dict>
</plist>