<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_Amber.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{75,66}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{0,0},{75,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Amethyst.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,4.5}</string>
			<key>spriteSize</key>
			<string>{84,78}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{77,0},{84,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Azurite.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,4.5}</string>
			<key>spriteSize</key>
			<string>{85,78}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{163,0},{85,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Beginner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{69,64}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{250,0},{69,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Bronze.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{70,64}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{250,66},{70,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Diamond.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{83,72}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{0,68},{83,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Emerald.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1.5}</string>
			<key>spriteSize</key>
			<string>{84,72}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{74,80},{84,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{75,66}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{160,80},{75,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Jade.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2}</string>
			<key>spriteSize</key>
			<string>{84,71}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{237,132},{84,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Obsidian.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2}</string>
			<key>spriteSize</key>
			<string>{82,77}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{0,154},{82,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Onyx.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,4.5}</string>
			<key>spriteSize</key>
			<string>{84,78}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{84,154},{84,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Pearl.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{81,69}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{170,205},{81,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Platinum.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1.5}</string>
			<key>spriteSize</key>
			<string>{82,70}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{253,205},{82,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Ruby.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1.5}</string>
			<key>spriteSize</key>
			<string>{84,72}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{0,234},{84,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Sapphire.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{83,71}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{86,234},{83,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Silver.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{72,66}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{159,276},{72,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/Difficulty-hd.png</string>
		<key>size</key>
		<string>{335,342}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/Difficulty-hd.png</string>
	</dict>
</dict>
</plist>