<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,1.5}</string>
			<key>spriteSize</key>
			<string>{141,175}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,0},{141,175}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,6.5}</string>
			<key>spriteSize</key>
			<string>{159,203}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{177,0},{159,203}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuriteSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,1}</string>
			<key>spriteSize</key>
			<string>{176,224}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{382,0},{176,224}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{141,169}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{608,0},{141,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzeSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{141,169}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{779,0},{141,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,5.5}</string>
			<key>spriteSize</key>
			<string>{157,183}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{608,143},{157,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,5.5}</string>
			<key>spriteSize</key>
			<string>{158,183}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{793,143},{158,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{141,173}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,143},{141,173}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadeSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,5.5}</string>
			<key>spriteSize</key>
			<string>{158,183}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{175,161},{158,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,8}</string>
			<key>spriteSize</key>
			<string>{185,206}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{360,178},{185,206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-7}</string>
			<key>spriteSize</key>
			<string>{159,230}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{568,303},{159,230}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{156,186}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{800,303},{156,186}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,5}</string>
			<key>spriteSize</key>
			<string>{155,182}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,286},{155,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubySmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,5.5}</string>
			<key>spriteSize</key>
			<string>{159,183}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{157,321},{159,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphireSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,5}</string>
			<key>spriteSize</key>
			<string>{157,182}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{342,365},{157,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,1}</string>
			<key>spriteSize</key>
			<string>{141,174}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{800,461},{141,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultySmallText-uhd.png</string>
		<key>size</key>
		<string>{986,602}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultySmallText-uhd.png</string>
	</dict>
</dict>
</plist>