<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-3}</string>
			<key>spriteSize</key>
			<string>{41,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,0},{41,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{62,62}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{57,0},{62,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuriteText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,62}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{121,0},{52,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{55,54}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{185,0},{55,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzeText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{45,54}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,43},{45,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-2}</string>
			<key>spriteSize</key>
			<string>{51,57}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{121,54},{51,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{52,57}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{180,56},{52,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{40,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{56,64},{40,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadeText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{44,57}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,90},{44,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-1}</string>
			<key>spriteSize</key>
			<string>{55,62}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{46,106},{55,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{44,63}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{110,107},{44,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-2}</string>
			<key>spriteSize</key>
			<string>{43,60}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{175,110},{43,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-2}</string>
			<key>spriteSize</key>
			<string>{55,57}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{110,153},{55,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{44,57}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{169,155},{44,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphireText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-2}</string>
			<key>spriteSize</key>
			<string>{57,57}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,163},{57,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-3}</string>
			<key>spriteSize</key>
			<string>{41,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{59,163},{41,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultyText.png</string>
		<key>size</key>
		<string>{240,220}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultyText.png</string>
	</dict>
</dict>
</plist>