<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,-16}</string>
			<key>spriteSize</key>
			<string>{143,210}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,0},{143,210}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,-8}</string>
			<key>spriteSize</key>
			<string>{245,241}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{212,0},{245,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuriteText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-8.5}</string>
			<key>spriteSize</key>
			<string>{203,240}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{459,0},{203,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,-18.5}</string>
			<key>spriteSize</key>
			<string>{201,203}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{701,0},{201,203}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzeText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-18.5}</string>
			<key>spriteSize</key>
			<string>{162,203}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{906,0},{162,203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-11.5}</string>
			<key>spriteSize</key>
			<string>{186,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,145},{186,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-11.5}</string>
			<key>spriteSize</key>
			<string>{190,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{701,205},{190,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-17}</string>
			<key>spriteSize</key>
			<string>{141,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{459,205},{141,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadeText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-11.5}</string>
			<key>spriteSize</key>
			<string>{158,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{188,243},{158,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-8.5}</string>
			<key>spriteSize</key>
			<string>{218,240}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{407,348},{218,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-6}</string>
			<key>spriteSize</key>
			<string>{165,245}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{920,205},{165,245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-11.5}</string>
			<key>spriteSize</key>
			<string>{156,224}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{649,397},{156,224}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,-12}</string>
			<key>spriteSize</key>
			<string>{203,216}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,403},{203,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-11.5}</string>
			<key>spriteSize</key>
			<string>{159,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{218,403},{159,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphireText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-12.5}</string>
			<key>spriteSize</key>
			<string>{209,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{875,452},{209,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,-16.5}</string>
			<key>spriteSize</key>
			<string>{143,209}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{649,555},{143,209}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultyText-uhd.png</string>
		<key>size</key>
		<string>{1085,698}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultyText-uhd.png</string>
	</dict>
</dict>
</plist>