<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{76,93}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,0},{76,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,4}</string>
			<key>spriteSize</key>
			<string>{84,104}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{95,0},{84,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuriteSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,5.5}</string>
			<key>spriteSize</key>
			<string>{88,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{201,0},{88,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-1}</string>
			<key>spriteSize</key>
			<string>{76,90}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{310,0},{76,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzeSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-1}</string>
			<key>spriteSize</key>
			<string>{76,90}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{402,0},{76,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{84,97}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{310,78},{84,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{84,97}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{409,78},{84,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{76,92}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,78},{76,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadeSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{84,97}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{94,86},{84,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2.5,5}</string>
			<key>spriteSize</key>
			<string>{86,106}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{193,90},{86,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{84,117}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{301,164},{84,117}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{82,96}</string>
			<key>spriteSourceSize</key>
			<string>{149,128}</string>
			<key>textureRect</key>
			<string>{{420,164},{82,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2}</string>
			<key>spriteSize</key>
			<string>{82,96}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,156},{82,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubySmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{84,97}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{84,172},{84,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphireSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{84,97}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{183,178},{84,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{76,93}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{420,248},{76,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultySmallText-hd.png</string>
		<key>size</key>
		<string>{516,324}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultySmallText-hd.png</string>
	</dict>
</dict>
</plist>