<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{40,49}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,0},{40,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{51,0},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuriteSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{45,56}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{108,0},{45,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{40,48}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{166,0},{40,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzeSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{40,48}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{216,0},{40,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{44,51}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{166,42},{44,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{44,51}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,46},{44,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{40,49}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{53,46},{40,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadeSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{44,51}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{104,47},{44,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{43,56}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{219,42},{43,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{157,88},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{43,51}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{0,92},{43,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{43,51}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{53,93},{43,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubySmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{44,51}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{214,100},{44,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphireSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{44,51}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{106,93},{44,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{40,49}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{152,134},{40,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultySmallText.png</string>
		<key>size</key>
		<string>{265,174}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultySmallText.png</string>
	</dict>
</dict>
</plist>