<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_Crystal_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{28,-4}</string>
			<key>spriteSize</key>
			<string>{456,454}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,0},{456,454}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Crystal_002.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{458,0},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Crystal_003.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,514},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Crystal_004.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{514,514},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,10.5}</string>
			<key>spriteSize</key>
			<string>{512,491}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,1028},{512,491}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RadialGradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{500,500}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{514,1028},{500,500}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RecommendGlow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{1028,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Spiral.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-14,-0}</string>
			<key>spriteSize</key>
			<string>{484,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,1521},{484,512}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Stars.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{514,1530},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/Effects-uhd.png</string>
		<key>size</key>
		<string>{1156,2042}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/Effects-uhd.png</string>
	</dict>
</dict>
</plist>