<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_Crystal_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5.5,-1}</string>
			<key>spriteSize</key>
			<string>{117,118}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{117,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Crystal_002.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{120,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Crystal_003.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,130},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Crystal_004.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{130,130},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{128,123}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,260},{128,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RadialGradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,124}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{130,260},{124,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RecommendGlow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{260,0},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Spiral.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,-0}</string>
			<key>spriteSize</key>
			<string>{124,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,385},{124,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Stars.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{130,386},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/Effects.png</string>
		<key>size</key>
		<string>{291,514}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/Effects.png</string>
	</dict>
</dict>
</plist>