<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_Logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{125,121}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{0,0},{125,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Recommended.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{81,81}</string>
			<key>spriteSourceSize</key>
			<string>{81,81}</string>
			<key>textureRect</key>
			<string>{{127,0},{81,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Roulette.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{77,88}</string>
			<key>spriteSourceSize</key>
			<string>{77,88}</string>
			<key>textureRect</key>
			<string>{{127,83},{77,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{0,123},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Support.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{55,39}</string>
			<key>spriteSourceSize</key>
			<string>{69,69}</string>
			<key>textureRect</key>
			<string>{{82,123},{55,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_demonProgressionBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{99,99}</string>
			<key>spriteSourceSize</key>
			<string>{99,99}</string>
			<key>textureRect</key>
			<string>{{123,162},{99,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_demonProgressionBtnAlt.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{99,99}</string>
			<key>spriteSourceSize</key>
			<string>{99,99}</string>
			<key>textureRect</key>
			<string>{{0,205},{99,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_tabBack.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-1}</string>
			<key>spriteSize</key>
			<string>{91,30}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{101,263},{91,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/Menu.png</string>
		<key>size</key>
		<string>{222,304}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/Menu.png</string>
	</dict>
</dict>
</plist>