<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_Logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{250,239}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{0,0},{250,239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Recommended.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{162,163}</string>
			<key>spriteSourceSize</key>
			<string>{162,163}</string>
			<key>textureRect</key>
			<string>{{252,0},{162,163}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Roulette.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{155,177}</string>
			<key>spriteSourceSize</key>
			<string>{155,177}</string>
			<key>textureRect</key>
			<string>{{252,164},{155,177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{161,161}</string>
			<key>spriteSourceSize</key>
			<string>{161,161}</string>
			<key>textureRect</key>
			<string>{{0,241},{161,161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Support.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{106,73}</string>
			<key>spriteSourceSize</key>
			<string>{139,139}</string>
			<key>textureRect</key>
			<string>{{163,241},{106,73}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_demonProgressionBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{238,321},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_demonProgressionBtnAlt.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{0,404},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_tabBack.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{177,57}</string>
			<key>spriteSourceSize</key>
			<string>{184,64}</string>
			<key>textureRect</key>
			<string>{{201,522},{177,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/Menu-hd.png</string>
		<key>size</key>
		<string>{437,603}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/Menu-hd.png</string>
	</dict>
</dict>
</plist>