<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_April.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{0,0},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_August.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{136,0},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_December.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{272,0},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_February.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{408,0},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_January.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{0,125},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_July.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{136,125},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_June.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{272,125},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_March.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{408,125},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_May.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{0,250},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_November.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{136,250},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_October.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{272,250},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_September.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,123}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{408,250},{134,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/Monthly-uhd.png</string>
		<key>size</key>
		<string>{542,373}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/Monthly-uhd.png</string>
	</dict>
</dict>
</plist>