<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,0},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{44,56}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{57,0},{44,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuritePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{45,56}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{115,0},{45,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{173,0},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{173,46},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,46},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{57,46},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{114,47},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{171,92},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{45,56}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,92},{45,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{44,56}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{58,93},{44,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{44,54}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{116,93},{44,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{162,138},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,3}</string>
			<key>spriteSize</key>
			<string>{45,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,139},{45,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphirePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{57,139},{44,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{44,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{219,138},{44,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultySmallText.png</string>
		<key>size</key>
		<string>{263,193}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultySmallText.png</string>
	</dict>
</dict>
</plist>