<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{43,44}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,0},{43,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{46,0},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuritePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{93,0},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{43,44}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,45},{43,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{46,45},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{93,45},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,90},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{47,90},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{94,90},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{43,47}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,135},{43,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{49,135},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{43,44}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{96,135},{43,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,180},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{47,180},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphirePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{43,45}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{94,180},{43,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{43,44}</string>
			<key>spriteSourceSize</key>
			<string>{43,48}</string>
			<key>textureRect</key>
			<string>{{0,225},{43,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficulty.png</string>
		<key>size</key>
		<string>{140,268}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficulty.png</string>
	</dict>
</dict>
</plist>