<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{44,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,0},{44,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{62,64}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{63,0},{62,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuritePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{52,63}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{129,0},{52,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{55,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{194,0},{55,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{45,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,46},{45,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{51,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{129,54},{51,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{52,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{192,57},{52,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{44,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{63,64},{44,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{44,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,93},{44,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{55,64}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{126,107},{55,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{44,64}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{192,111},{44,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{44,64}</string>
			<key>spriteSourceSize</key>
			<string>{74,64}</string>
			<key>textureRect</key>
			<string>{{63,110},{44,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{55,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{0,139},{55,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{45,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{192,157},{45,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphirePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{57,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{109,164},{57,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{44,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,61}</string>
			<key>textureRect</key>
			<string>{{63,176},{44,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultyText.png</string>
		<key>size</key>
		<string>{256,237}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultyText.png</string>
	</dict>
</dict>
</plist>