<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{175,243}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,0},{175,243}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,-0}</string>
			<key>spriteSize</key>
			<string>{245,257}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{245,0},{245,257}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuritePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{203,252}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{504,0},{203,252}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,0.5}</string>
			<key>spriteSize</key>
			<string>{201,241}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{758,0},{201,241}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{175,241}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,177},{175,241}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{186,242}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{758,203},{186,242}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{190,242}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{504,205},{190,242}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{175,243}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{243,247},{175,243}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{175,242}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{748,391},{175,242}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-0}</string>
			<key>spriteSize</key>
			<string>{218,257}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{0,354},{218,257}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{175,257}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{488,397},{175,257}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{174,249}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{220,424},{174,249}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,1}</string>
			<key>spriteSize</key>
			<string>{203,242}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{747,568},{203,242}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,1}</string>
			<key>spriteSize</key>
			<string>{175,242}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{471,574},{175,242}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphirePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{209,243}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{220,600},{209,243}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{175,243}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,613},{175,243}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultyText-uhd.png</string>
		<key>size</key>
		<string>{1000,856}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultyText-uhd.png</string>
	</dict>
</dict>
</plist>