<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,18}</string>
			<key>spriteSize</key>
			<string>{175,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,0},{175,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,13.5}</string>
			<key>spriteSize</key>
			<string>{175,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{210,0},{175,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuritePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,13.5}</string>
			<key>spriteSize</key>
			<string>{174,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{429,0},{174,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,17.5}</string>
			<key>spriteSize</key>
			<string>{175,207}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{648,0},{175,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,17.5}</string>
			<key>spriteSize</key>
			<string>{175,207}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{857,0},{175,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,18}</string>
			<key>spriteSize</key>
			<string>{175,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{429,176},{175,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,18}</string>
			<key>spriteSize</key>
			<string>{175,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{639,177},{175,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,18}</string>
			<key>spriteSize</key>
			<string>{175,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{849,177},{175,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,18}</string>
			<key>spriteSize</key>
			<string>{175,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,177},{175,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,13.5}</string>
			<key>spriteSize</key>
			<string>{175,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{210,177},{175,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{175,244}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{429,354},{175,244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,11.5}</string>
			<key>spriteSize</key>
			<string>{174,210}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{675,354},{174,210}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,18}</string>
			<key>spriteSize</key>
			<string>{175,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,354},{175,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,18}</string>
			<key>spriteSize</key>
			<string>{175,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{210,354},{175,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphirePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,18}</string>
			<key>spriteSize</key>
			<string>{175,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{887,354},{175,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,18}</string>
			<key>spriteSize</key>
			<string>{175,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{675,530},{175,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultySmallText-uhd.png</string>
		<key>size</key>
		<string>{1064,705}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultySmallText-uhd.png</string>
	</dict>
</dict>
</plist>