<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{88,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,0},{88,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,6.5}</string>
			<key>spriteSize</key>
			<string>{88,109}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{109,0},{88,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuritePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,6.5}</string>
			<key>spriteSize</key>
			<string>{88,109}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{220,0},{88,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{88,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{331,0},{88,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{89,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{440,0},{89,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{89,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,90},{89,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{89,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{109,90},{89,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{88,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{218,90},{88,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{88,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{327,90},{88,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,6.5}</string>
			<key>spriteSize</key>
			<string>{88,109}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{436,109},{88,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{89,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{218,180},{89,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,6}</string>
			<key>spriteSize</key>
			<string>{89,106}</string>
			<key>spriteSourceSize</key>
			<string>{149,128}</string>
			<key>textureRect</key>
			<string>{{0,181},{89,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{88,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{108,181},{88,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{88,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{342,180},{88,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphirePlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{89,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{432,220},{89,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverPlusSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{88,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{217,271},{88,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultySmallText-hd.png</string>
		<key>size</key>
		<string>{529,359}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultySmallText-hd.png</string>
	</dict>
</dict>
</plist>