<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{88,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,0},{88,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-0}</string>
			<key>spriteSize</key>
			<string>{123,128}</string>
			<key>spriteSourceSize</key>
			<string>{149,128}</string>
			<key>textureRect</key>
			<string>{{124,0},{123,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuritePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{101,128}</string>
			<key>spriteSourceSize</key>
			<string>{149,128}</string>
			<key>textureRect</key>
			<string>{{254,0},{101,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{106,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{384,0},{106,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{89,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,90},{89,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{97,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{254,103},{97,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{99,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{378,108},{99,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{88,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{124,125},{88,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{88,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,181},{88,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-0}</string>
			<key>spriteSize</key>
			<string>{109,128}</string>
			<key>spriteSourceSize</key>
			<string>{149,128}</string>
			<key>textureRect</key>
			<string>{{248,202},{109,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{89,128}</string>
			<key>spriteSourceSize</key>
			<string>{149,128}</string>
			<key>textureRect</key>
			<string>{{378,209},{89,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{89,125}</string>
			<key>spriteSourceSize</key>
			<string>{149,128}</string>
			<key>textureRect</key>
			<string>{{124,215},{89,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-0}</string>
			<key>spriteSize</key>
			<string>{107,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,271},{107,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{88,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{378,300},{88,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphirePlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{109,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{215,313},{109,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverPlusText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{88,122}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{124,342},{88,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultyText-hd.png</string>
		<key>size</key>
		<string>{506,464}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficultyText-hd.png</string>
	</dict>
</dict>
</plist>