<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8.5}</string>
			<key>spriteSize</key>
			<string>{175,178}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{0,0},{175,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,6}</string>
			<key>spriteSize</key>
			<string>{175,183}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{180,0},{175,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuritePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,8.5}</string>
			<key>spriteSize</key>
			<string>{174,170}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{365,0},{174,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{175,179}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{541,0},{175,179}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{175,181}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{365,177},{175,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,6.5}</string>
			<key>spriteSize</key>
			<string>{175,182}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{548,177},{175,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,6.5}</string>
			<key>spriteSize</key>
			<string>{175,182}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{0,177},{175,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{175,180}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{184,177},{175,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{175,180}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{361,354},{175,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{175,191}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{543,354},{175,191}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{175,181}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{0,354},{175,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,5}</string>
			<key>spriteSize</key>
			<string>{174,177}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{183,359},{174,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{175,180}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{359,531},{175,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{175,181}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{0,531},{175,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphirePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,6.5}</string>
			<key>spriteSize</key>
			<string>{175,182}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{541,531},{175,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8.5}</string>
			<key>spriteSize</key>
			<string>{175,178}</string>
			<key>spriteSourceSize</key>
			<string>{175,195}</string>
			<key>textureRect</key>
			<string>{{183,708},{175,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficulty-uhd.png</string>
		<key>size</key>
		<string>{734,883}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficulty-uhd.png</string>
	</dict>
</dict>
</plist>