<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{87,89}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{0,0},{87,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{87,91}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{91,0},{87,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuritePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,5}</string>
			<key>spriteSize</key>
			<string>{86,85}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{184,0},{86,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{87,89}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{272,0},{87,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3.5}</string>
			<key>spriteSize</key>
			<string>{87,90}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{184,89},{87,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{87,91}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{0,89},{87,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{87,91}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{276,89},{87,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3.5}</string>
			<key>spriteSize</key>
			<string>{87,90}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{93,89},{87,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3.5}</string>
			<key>spriteSize</key>
			<string>{87,90}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{182,178},{87,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{87,95}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{0,181},{87,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3.5}</string>
			<key>spriteSize</key>
			<string>{87,90}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{274,182},{87,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PearlPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{87,90}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{97,267},{87,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3.5}</string>
			<key>spriteSize</key>
			<string>{87,90}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{0,270},{87,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3.5}</string>
			<key>spriteSize</key>
			<string>{87,90}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{189,271},{87,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphirePlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{87,91}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{92,356},{87,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverPlus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{87,89}</string>
			<key>spriteSourceSize</key>
			<string>{87,97}</string>
			<key>textureRect</key>
			<string>{{0,359},{87,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficulty-hd.png</string>
		<key>size</key>
		<string>{364,446}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/PlusDifficulty-hd.png</string>
	</dict>
</dict>
</plist>