<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_Skill_2P.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{0,0},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Awkward.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{129,0},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Ball.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{258,0},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_BestLevel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{387,0},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Big.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{516,0},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Chokepoints.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{645,0},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Cork.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{774,0},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Corrupted.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{0,126},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Cube.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{129,126},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Cyclo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{258,126},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Duals.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{387,126},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Elohmrow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{516,126},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Emerald1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{645,126},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_FastPaced.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{774,126},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Flow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{0,252},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_GMChanges.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{129,252},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_GenericUser.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{258,252},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Gimmicky.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{387,252},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_HighCPS.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{516,252},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Hypurdash.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{645,252},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Iron.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{774,252},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Jedwint.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{0,378},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Kria.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{129,378},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Krtar.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{258,378},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Landet.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{387,378},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Learny.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{516,378},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_LegacySwingcopter.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{645,378},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Lia.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{774,378},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Mauv.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{0,504},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Memory.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{129,504},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Michigun.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{258,504},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Minigame.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{387,504},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Mocha.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{516,504},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Momentum.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{645,504},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_MovingGP.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{774,504},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_NerveControl.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{0,630},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Overall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{129,630},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Robot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{258,630},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Ship.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{387,630},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Small.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{516,630},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Smilebullet.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{645,630},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Spam.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{774,630},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Special.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{0,756},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_SpeedChanges.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{129,756},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Spider.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{258,756},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Starfruit.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{387,756},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Swing.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{516,756},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Tenu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{645,756},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Timings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{774,756},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Trusta.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{0,882},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_UFO.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{129,882},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Unique.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{258,882},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Unknown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{387,882},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Wave.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{516,882},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_qKitti.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,129}</string>
			<key>textureRect</key>
			<string>{{645,882},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/SkillBadge-uhd.png</string>
		<key>size</key>
		<string>{901,1006}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/SkillBadge-uhd.png</string>
	</dict>
</dict>
</plist>