<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_Skill_2P.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Awkward.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{66,0},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Ball.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{132,0},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_BestLevel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{198,0},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Big.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{264,0},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Chokepoints.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{330,0},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Cork.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{396,0},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Corrupted.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{0,65},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Cube.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{66,65},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Cyclo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{132,65},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Duals.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{198,65},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Elohmrow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{264,65},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Emerald1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{330,65},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_FastPaced.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{396,65},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Flow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{0,130},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_GMChanges.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{66,130},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_GenericUser.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{132,130},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Gimmicky.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{198,130},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_HighCPS.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{264,130},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Hypurdash.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{330,130},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Iron.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{396,130},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Jedwint.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{0,195},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Kria.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{66,195},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Krtar.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{132,195},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Landet.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{198,195},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Learny.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{264,195},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_LegacySwingcopter.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{330,195},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Lia.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{396,195},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Mauv.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{0,260},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Memory.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{66,260},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Michigun.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{132,260},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Minigame.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{198,260},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Mocha.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{264,260},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Momentum.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{330,260},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_MovingGP.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{396,260},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_NerveControl.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{0,325},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Overall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{66,325},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Robot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{132,325},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Ship.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{198,325},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Small.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{264,325},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Smilebullet.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{330,325},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Spam.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{396,325},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Special.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{0,390},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_SpeedChanges.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{66,390},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Spider.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{132,390},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Starfruit.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{198,390},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Swing.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{264,390},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Tenu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{330,390},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Timings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{396,390},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Trusta.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{0,455},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_UFO.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{66,455},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Unique.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{132,455},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Unknown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{198,455},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_Wave.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{264,455},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Skill_qKitti.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,64}</string>
			<key>spriteSourceSize</key>
			<string>{63,64}</string>
			<key>textureRect</key>
			<string>{{330,455},{63,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/SkillBadge-hd.png</string>
		<key>size</key>
		<string>{460,518}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/SkillBadge-hd.png</string>
	</dict>
</dict>
</plist>