<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>uproxide.textures/TWS_Background.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1280,720}</string>
			<key>spriteSourceSize</key>
			<string>{1280,720}</string>
			<key>textureRect</key>
			<string>{{0,0},{1280,720}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{0,722},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonLarge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{145,41}</string>
			<key>spriteSourceSize</key>
			<string>{145,41}</string>
			<key>textureRect</key>
			<string>{{82,722},{145,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonLargeSelected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{147,43}</string>
			<key>spriteSourceSize</key>
			<string>{147,43}</string>
			<key>textureRect</key>
			<string>{{229,722},{147,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonSmall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{378,722},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{87,84}</string>
			<key>spriteSourceSize</key>
			<string>{88,84}</string>
			<key>textureRect</key>
			<string>{{446,722},{87,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_DeleteButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{535,722},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_DownloadButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{631,722},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Error.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{168,168}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{727,722},{168,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{277,277}</string>
			<key>spriteSourceSize</key>
			<string>{277,277}</string>
			<key>textureRect</key>
			<string>{{897,722},{277,277}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_FileButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{1176,722},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_FiltersPopdown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{606,54}</string>
			<key>spriteSourceSize</key>
			<string>{606,54}</string>
			<key>textureRect</key>
			<string>{{0,816},{606,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_InfoButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{1176,816},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{573,69}</string>
			<key>spriteSourceSize</key>
			<string>{573,69}</string>
			<key>textureRect</key>
			<string>{{0,872},{573,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_MainButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{90,96}</string>
			<key>spriteSourceSize</key>
			<string>{90,96}</string>
			<key>textureRect</key>
			<string>{{608,816},{90,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{650,507}</string>
			<key>spriteSourceSize</key>
			<string>{650,507}</string>
			<key>textureRect</key>
			<string>{{0,943},{650,507}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_OutlineOld.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{650,507}</string>
			<key>spriteSourceSize</key>
			<string>{650,507}</string>
			<key>textureRect</key>
			<string>{{706,1001},{650,507}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_PlaceholderLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{166,166}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{0,1452},{166,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_RefreshButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{168,1452},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{86,68}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{264,1452},{86,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_SearchButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{39,37}</string>
			<key>spriteSourceSize</key>
			<string>{39,37}</string>
			<key>textureRect</key>
			<string>{{652,908},{39,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_SideBar.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{112,251}</string>
			<key>spriteSourceSize</key>
			<string>{112,251}</string>
			<key>textureRect</key>
			<string>{{352,1452},{112,251}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Update.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{37,87}</string>
			<key>spriteSourceSize</key>
			<string>{38,87}</string>
			<key>textureRect</key>
			<string>{{1215,910},{37,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Workshop.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{381,59}</string>
			<key>spriteSourceSize</key>
			<string>{381,59}</string>
			<key>textureRect</key>
			<string>{{1215,999},{381,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>uproxide.textures/TWSSheet-hd.png</string>
		<key>size</key>
		<string>{1280,1651}</string>
		<key>textureFileName</key>
		<string>uproxide.textures/TWSSheet-hd.png</string>
	</dict>
</dict>
</plist>