<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>uproxide.textures/TWS_Background.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{640,360}</string>
			<key>spriteSourceSize</key>
			<string>{640,360}</string>
			<key>textureRect</key>
			<string>{{0,0},{640,360}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{0,362},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonLarge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,20}</string>
			<key>spriteSourceSize</key>
			<string>{72,20}</string>
			<key>textureRect</key>
			<string>{{42,362},{72,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonLargeSelected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{73,21}</string>
			<key>spriteSourceSize</key>
			<string>{73,21}</string>
			<key>textureRect</key>
			<string>{{116,362},{73,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonSmall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{33,32}</string>
			<key>spriteSourceSize</key>
			<string>{33,32}</string>
			<key>textureRect</key>
			<string>{{191,362},{33,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{44,42}</string>
			<key>spriteSourceSize</key>
			<string>{44,42}</string>
			<key>textureRect</key>
			<string>{{226,362},{44,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_DeleteButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{272,362},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_DownloadButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{321,362},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Error.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{370,362},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{138,138}</string>
			<key>spriteSourceSize</key>
			<string>{138,138}</string>
			<key>textureRect</key>
			<string>{{456,362},{138,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_FileButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{42,384},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_FiltersPopdown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{303,27}</string>
			<key>spriteSourceSize</key>
			<string>{303,27}</string>
			<key>textureRect</key>
			<string>{{0,432},{303,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_InfoButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{305,410},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{286,34}</string>
			<key>spriteSourceSize</key>
			<string>{286,34}</string>
			<key>textureRect</key>
			<string>{{0,461},{286,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_MainButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{45,48}</string>
			<key>spriteSourceSize</key>
			<string>{45,48}</string>
			<key>textureRect</key>
			<string>{{354,448},{45,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{325,253}</string>
			<key>spriteSourceSize</key>
			<string>{325,253}</string>
			<key>textureRect</key>
			<string>{{0,497},{325,253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_OutlineOld.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{325,253}</string>
			<key>spriteSourceSize</key>
			<string>{325,253}</string>
			<key>textureRect</key>
			<string>{{327,502},{325,253}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_PlaceholderLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{0,752},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_RefreshButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{582,502},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-1}</string>
			<key>spriteSize</key>
			<string>{45,37}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{582,550},{45,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_SearchButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{19,18}</string>
			<key>spriteSourceSize</key>
			<string>{19,18}</string>
			<key>textureRect</key>
			<string>{{582,589},{19,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_SideBar.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{56,125}</string>
			<key>spriteSourceSize</key>
			<string>{56,125}</string>
			<key>textureRect</key>
			<string>{{582,609},{56,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Update.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{19,43}</string>
			<key>spriteSourceSize</key>
			<string>{19,43}</string>
			<key>textureRect</key>
			<string>{{582,736},{19,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Workshop.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{190,29}</string>
			<key>spriteSourceSize</key>
			<string>{190,29}</string>
			<key>textureRect</key>
			<string>{{86,752},{190,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>uproxide.textures/TWSSheet.png</string>
		<key>size</key>
		<string>{640,836}</string>
		<key>textureFileName</key>
		<string>uproxide.textures/TWSSheet.png</string>
	</dict>
</dict>
</plist>