<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gdutilsdevs.gdutils/artistBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{95,88}</string>
			<key>spriteSourceSize</key>
			<string>{95,90}</string>
			<key>textureRect</key>
			<string>{{0,0},{95,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/contributorBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{95,88}</string>
			<key>spriteSourceSize</key>
			<string>{95,90}</string>
			<key>textureRect</key>
			<string>{{97,0},{95,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/gdAwards2023Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{95,88}</string>
			<key>spriteSourceSize</key>
			<string>{95,90}</string>
			<key>textureRect</key>
			<string>{{194,0},{95,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/gdAwards2024Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{95,88}</string>
			<key>spriteSourceSize</key>
			<string>{95,98}</string>
			<key>textureRect</key>
			<string>{{0,90},{95,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/gdAwards2025Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{95,88}</string>
			<key>spriteSourceSize</key>
			<string>{95,98}</string>
			<key>textureRect</key>
			<string>{{97,90},{95,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/gdutils_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{95,88}</string>
			<key>spriteSourceSize</key>
			<string>{95,90}</string>
			<key>textureRect</key>
			<string>{{194,90},{95,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/robtop_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{0,180},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/supporter_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{95,88}</string>
			<key>spriteSourceSize</key>
			<string>{95,90}</string>
			<key>textureRect</key>
			<string>{{82,180},{95,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/ul_dev_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,86}</string>
			<key>spriteSourceSize</key>
			<string>{86,90}</string>
			<key>textureRect</key>
			<string>{{179,180},{86,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/ul_helper_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,86}</string>
			<key>spriteSourceSize</key>
			<string>{86,90}</string>
			<key>textureRect</key>
			<string>{{179,268},{86,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/ul_officer_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,86}</string>
			<key>spriteSourceSize</key>
			<string>{86,90}</string>
			<key>textureRect</key>
			<string>{{0,270},{86,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/ul_trainee_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,86}</string>
			<key>spriteSourceSize</key>
			<string>{86,90}</string>
			<key>textureRect</key>
			<string>{{88,270},{86,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>gdutilsdevs.gdutils/badges-uhd.png</string>
		<key>size</key>
		<string>{289,356}</string>
		<key>textureFileName</key>
		<string>gdutilsdevs.gdutils/badges-uhd.png</string>
	</dict>
</dict>
</plist>