<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gdutilsdevs.gdutils/artistBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,22}</string>
			<key>spriteSourceSize</key>
			<string>{23,22}</string>
			<key>textureRect</key>
			<string>{{0,0},{23,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/contributorBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,22}</string>
			<key>spriteSourceSize</key>
			<string>{23,22}</string>
			<key>textureRect</key>
			<string>{{25,0},{23,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/gdAwards2023Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,22}</string>
			<key>spriteSourceSize</key>
			<string>{23,22}</string>
			<key>textureRect</key>
			<string>{{50,0},{23,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/gdAwards2024Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,24}</string>
			<key>textureRect</key>
			<string>{{0,24},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/gdAwards2025Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,24}</string>
			<key>textureRect</key>
			<string>{{25,24},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/gdutils_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,22}</string>
			<key>spriteSourceSize</key>
			<string>{23,22}</string>
			<key>textureRect</key>
			<string>{{50,24},{23,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/robtop_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{50,48},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/supporter_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,22}</string>
			<key>spriteSourceSize</key>
			<string>{23,22}</string>
			<key>textureRect</key>
			<string>{{0,49},{23,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gdutilsdevs.gdutils/ul_dev_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{21,22}</string>
			<key>spriteSourceSize</key>
			<string>{21,22}</string>
			<key>textureRect</key>
			<string>{{25,49},{21,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gdutilsdevs.gdutils/ul_helper_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{21,22}</string>
			<key>spriteSourceSize</key>
			<string>{21,22}</string>
			<key>textureRect</key>
			<string>{{49,70},{21,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gdutilsdevs.gdutils/ul_officer_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{21,22}</string>
			<key>spriteSourceSize</key>
			<string>{21,22}</string>
			<key>textureRect</key>
			<string>{{25,72},{21,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gdutilsdevs.gdutils/ul_trainee_badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{21,22}</string>
			<key>spriteSourceSize</key>
			<string>{21,22}</string>
			<key>textureRect</key>
			<string>{{0,73},{21,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>gdutilsdevs.gdutils/badges.png</string>
		<key>size</key>
		<string>{73,94}</string>
		<key>textureFileName</key>
		<string>gdutilsdevs.gdutils/badges.png</string>
	</dict>
</dict>
</plist>