<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gdutilsdevs.gdutils/thevault.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{960,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{0,0},{960,540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>gdutilsdevs.gdutils/scenes-hd.png</string>
		<key>size</key>
		<string>{960,540}</string>
		<key>textureFileName</key>
		<string>gdutilsdevs.gdutils/scenes-hd.png</string>
	</dict>
</dict>
</plist>