<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dankmeme.globed2/bubble_emote_spr.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{34,0},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{68,0},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_10.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,29}</string>
			<key>spriteSourceSize</key>
			<string>{32,29}</string>
			<key>textureRect</key>
			<string>{{102,0},{32,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_100.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{136,0},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_11.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,28}</string>
			<key>spriteSourceSize</key>
			<string>{32,28}</string>
			<key>textureRect</key>
			<string>{{170,0},{32,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_12.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,31}</string>
			<key>spriteSourceSize</key>
			<string>{32,31}</string>
			<key>textureRect</key>
			<string>{{204,0},{32,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_13.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{238,0},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_14.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,31}</string>
			<key>spriteSourceSize</key>
			<string>{32,31}</string>
			<key>textureRect</key>
			<string>{{272,0},{32,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_15.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{170,30},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_16.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{102,31},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_17.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{204,33},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_18.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,27}</string>
			<key>spriteSourceSize</key>
			<string>{32,27}</string>
			<key>textureRect</key>
			<string>{{272,33},{32,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_19.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,28}</string>
			<key>spriteSourceSize</key>
			<string>{32,28}</string>
			<key>textureRect</key>
			<string>{{136,34},{32,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{238,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_20.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,29}</string>
			<key>spriteSourceSize</key>
			<string>{32,29}</string>
			<key>textureRect</key>
			<string>{{0,34},{32,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_200.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{34,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_201.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{28,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{68,34},{28,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_202.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{272,62},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_203.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{68,64},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_204.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{136,64},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_205.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{170,64},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_206.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,65},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_207.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{102,65},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_208.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{204,67},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_209.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-0}</string>
			<key>spriteSize</key>
			<string>{30,31}</string>
			<key>spriteSourceSize</key>
			<string>{32,31}</string>
			<key>textureRect</key>
			<string>{{34,68},{30,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_21.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,19}</string>
			<key>spriteSourceSize</key>
			<string>{32,19}</string>
			<key>textureRect</key>
			<string>{{306,0},{32,19}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_210.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,17}</string>
			<key>spriteSourceSize</key>
			<string>{32,17}</string>
			<key>textureRect</key>
			<string>{{306,34},{32,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_211.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{238,68},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_212.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{306,68},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_213.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{306,88},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_22.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,20}</string>
			<key>spriteSourceSize</key>
			<string>{32,20}</string>
			<key>textureRect</key>
			<string>{{272,96},{32,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_23.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{102,97},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_24.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{67,98},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_25.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{17,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{136,98},{17,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_250.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{31,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{170,98},{31,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_251.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{31,40}</string>
			<key>spriteSourceSize</key>
			<string>{32,40}</string>
			<key>textureRect</key>
			<string>{{0,100},{31,40}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_252.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{32,34}</string>
			<key>textureRect</key>
			<string>{{204,101},{32,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_253.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{31,35}</string>
			<key>spriteSourceSize</key>
			<string>{32,35}</string>
			<key>textureRect</key>
			<string>{{240,118},{31,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_254.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{31,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{136,117},{31,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_255.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,35}</string>
			<key>spriteSourceSize</key>
			<string>{32,35}</string>
			<key>textureRect</key>
			<string>{{277,118},{32,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_256.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{32,34}</string>
			<key>textureRect</key>
			<string>{{101,129},{32,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_257.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{32,34}</string>
			<key>textureRect</key>
			<string>{{42,132},{32,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_258.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{31,35}</string>
			<key>spriteSourceSize</key>
			<string>{32,36}</string>
			<key>textureRect</key>
			<string>{{0,133},{31,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_259.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{32,34}</string>
			<key>textureRect</key>
			<string>{{169,131},{32,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_260.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{32,34}</string>
			<key>textureRect</key>
			<string>{{203,135},{32,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_280.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,26}</string>
			<key>spriteSourceSize</key>
			<string>{32,26}</string>
			<key>textureRect</key>
			<string>{{135,149},{32,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_281.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,26}</string>
			<key>spriteSourceSize</key>
			<string>{32,26}</string>
			<key>textureRect</key>
			<string>{{239,151},{32,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_282.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{273,152},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_283.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{78,165},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_285.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{22,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{307,152},{22,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{37,166},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_33.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,25}</string>
			<key>spriteSourceSize</key>
			<string>{32,25}</string>
			<key>textureRect</key>
			<string>{{0,166},{32,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_34.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{169,167},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_35.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,24}</string>
			<key>spriteSourceSize</key>
			<string>{32,24}</string>
			<key>textureRect</key>
			<string>{{203,169},{32,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_36.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{32,34}</string>
			<key>textureRect</key>
			<string>{{112,177},{32,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_37.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{237,179},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_38.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{28,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{271,186},{28,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_39.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{0,193},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{203,195},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_400.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,26}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{71,199},{32,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_401.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{35,200},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_402.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{148,201},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_403.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{105,211},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_404.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,31}</string>
			<key>spriteSourceSize</key>
			<string>{32,31}</string>
			<key>textureRect</key>
			<string>{{237,213},{32,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_405.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{271,216},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_406.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{69,227},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_407.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{0,227},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_408.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{32,25}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{182,229},{32,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_409.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{34,234},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_410.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{32,29}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{139,235},{32,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_411.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{103,245},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_412.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{216,246},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_413.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{31,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{250,250},{31,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_5.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{285,250},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_500.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{173,256},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_501.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,259},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_502.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{32,29}</string>
			<key>spriteSourceSize</key>
			<string>{32,31}</string>
			<key>textureRect</key>
			<string>{{68,261},{32,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_503.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,31}</string>
			<key>spriteSourceSize</key>
			<string>{32,31}</string>
			<key>textureRect</key>
			<string>{{137,266},{32,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_504.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,29}</string>
			<key>spriteSourceSize</key>
			<string>{32,29}</string>
			<key>textureRect</key>
			<string>{{34,268},{32,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_505.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{207,278},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_506.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{102,279},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_507.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{241,283},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_508.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{276,284},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_509.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{171,290},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_510.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{68,292},{32,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_511.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{0,293},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_512.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{32,31}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{136,299},{32,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_513.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,31}</string>
			<key>textureRect</key>
			<string>{{34,299},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{205,312},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_600.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{29,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{102,313},{29,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_601.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{239,317},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_602.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{273,318},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_603.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{170,322},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_604.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{31,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,325},{31,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_605.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{68,327},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_606.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{34,331},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_7.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,29}</string>
			<key>spriteSourceSize</key>
			<string>{32,29}</string>
			<key>textureRect</key>
			<string>{{136,332},{32,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_70.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{102,344},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_71.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{204,346},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_72.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{238,351},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_73.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{272,352},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,28}</string>
			<key>spriteSourceSize</key>
			<string>{32,28}</string>
			<key>textureRect</key>
			<string>{{170,356},{32,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_9.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{0,358},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_90.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{68,361},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_91.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{136,363},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_92.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,34}</string>
			<key>spriteSourceSize</key>
			<string>{32,34}</string>
			<key>textureRect</key>
			<string>{{34,365},{32,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_93.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{102,378},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_94.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{204,380},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_95.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{272,384},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_96.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{238,385},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_97.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{170,386},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dankmeme.globed2/emotes.png</string>
		<key>size</key>
		<string>{329,416}</string>
		<key>textureFileName</key>
		<string>dankmeme.globed2/emotes.png</string>
	</dict>
</dict>
</plist>