<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dankmeme.globed2/bubble_emote_spr.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{126,127}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{126,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{126,126}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{129,0},{126,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{257,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_10.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{128,111}</string>
			<key>spriteSourceSize</key>
			<string>{128,116}</string>
			<key>textureRect</key>
			<string>{{387,0},{128,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_100.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{517,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_11.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{128,107}</string>
			<key>spriteSourceSize</key>
			<string>{128,115}</string>
			<key>textureRect</key>
			<string>{{647,0},{128,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_12.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,125}</string>
			<key>spriteSourceSize</key>
			<string>{128,125}</string>
			<key>textureRect</key>
			<string>{{777,0},{128,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_13.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{128,127}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{907,0},{128,127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_14.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,124}</string>
			<key>spriteSourceSize</key>
			<string>{128,124}</string>
			<key>textureRect</key>
			<string>{{1037,0},{128,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_15.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,-0}</string>
			<key>spriteSize</key>
			<string>{125,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,130}</string>
			<key>textureRect</key>
			<string>{{1167,0},{125,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_16.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{647,109},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_17.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{387,113},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_18.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-0}</string>
			<key>spriteSize</key>
			<string>{120,109}</string>
			<key>spriteSourceSize</key>
			<string>{128,109}</string>
			<key>textureRect</key>
			<string>{{1037,126},{120,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_19.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,113}</string>
			<key>spriteSourceSize</key>
			<string>{128,113}</string>
			<key>textureRect</key>
			<string>{{1159,127},{128,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{777,127},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_20.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,118}</string>
			<key>spriteSourceSize</key>
			<string>{128,118}</string>
			<key>textureRect</key>
			<string>{{0,128},{128,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_200.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{125,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{907,129},{125,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_201.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{96,122}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{130,128},{96,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_202.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{114,114}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{254,130},{114,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_203.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{114,114}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{517,130},{114,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_204.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{122,122}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{130,226},{122,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_205.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{633,239},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_206.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{123,123}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1037,242},{123,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_207.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{128,99}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1162,242},{128,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_208.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{122,116}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{370,243},{122,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_209.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,-2}</string>
			<key>spriteSize</key>
			<string>{100,118}</string>
			<key>spriteSourceSize</key>
			<string>{128,126}</string>
			<key>textureRect</key>
			<string>{{494,246},{100,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_21.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,77}</string>
			<key>spriteSourceSize</key>
			<string>{128,77}</string>
			<key>textureRect</key>
			<string>{{0,248},{128,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_210.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,70}</string>
			<key>spriteSourceSize</key>
			<string>{128,70}</string>
			<key>textureRect</key>
			<string>{{907,256},{128,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_211.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,104}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{763,257},{128,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_212.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{254,246},{72,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_213.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{254,314},{72,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_22.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2.5,-2}</string>
			<key>spriteSize</key>
			<string>{123,76}</string>
			<key>spriteSourceSize</key>
			<string>{128,80}</string>
			<key>textureRect</key>
			<string>{{0,327},{123,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_23.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,123}</string>
			<key>spriteSourceSize</key>
			<string>{128,123}</string>
			<key>textureRect</key>
			<string>{{893,328},{128,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_24.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1162,343},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_25.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{52,124}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{494,348},{52,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_250.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{124,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{125,350},{124,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_251.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{121,154}</string>
			<key>spriteSourceSize</key>
			<string>{128,163}</string>
			<key>textureRect</key>
			<string>{{328,361},{121,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_252.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{122,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,137}</string>
			<key>textureRect</key>
			<string>{{1023,367},{122,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_253.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-2}</string>
			<key>spriteSize</key>
			<string>{121,132}</string>
			<key>spriteSourceSize</key>
			<string>{128,140}</string>
			<key>textureRect</key>
			<string>{{620,369},{121,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_254.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-2}</string>
			<key>spriteSize</key>
			<string>{123,116}</string>
			<key>spriteSourceSize</key>
			<string>{128,122}</string>
			<key>textureRect</key>
			<string>{{763,363},{123,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_255.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{123,136}</string>
			<key>spriteSourceSize</key>
			<string>{128,143}</string>
			<key>textureRect</key>
			<string>{{484,402},{123,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_256.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{121,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,137}</string>
			<key>textureRect</key>
			<string>{{0,405},{121,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_257.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-2}</string>
			<key>spriteSize</key>
			<string>{123,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,137}</string>
			<key>textureRect</key>
			<string>{{888,453},{123,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_258.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1.5}</string>
			<key>spriteSize</key>
			<string>{120,139}</string>
			<key>spriteSourceSize</key>
			<string>{128,146}</string>
			<key>textureRect</key>
			<string>{{1156,473},{120,139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_259.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2.5}</string>
			<key>spriteSize</key>
			<string>{122,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,137}</string>
			<key>textureRect</key>
			<string>{{123,480},{122,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_260.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{123,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,138}</string>
			<key>textureRect</key>
			<string>{{754,481},{123,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_280.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,106}</string>
			<key>spriteSourceSize</key>
			<string>{128,106}</string>
			<key>textureRect</key>
			<string>{{255,484},{128,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_281.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,106}</string>
			<key>spriteSourceSize</key>
			<string>{128,106}</string>
			<key>textureRect</key>
			<string>{{1021,491},{128,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_282.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{108,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{609,492},{108,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_283.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{108,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{385,540},{108,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_285.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{70,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{887,578},{70,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{255,592},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_33.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.5,-1}</string>
			<key>spriteSize</key>
			<string>{123,101}</string>
			<key>spriteSourceSize</key>
			<string>{128,103}</string>
			<key>textureRect</key>
			<string>{{0,537},{123,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_34.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1151,595},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_35.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2.5}</string>
			<key>spriteSize</key>
			<string>{128,92}</string>
			<key>spriteSourceSize</key>
			<string>{128,97}</string>
			<key>textureRect</key>
			<string>{{515,540},{128,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_36.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,138}</string>
			<key>spriteSourceSize</key>
			<string>{128,138}</string>
			<key>textureRect</key>
			<string>{{609,602},{128,138}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_37.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{128,127}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1017,599},{128,127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_38.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0}</string>
			<key>spriteSize</key>
			<string>{92,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{103,604},{92,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_39.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-4}</string>
			<key>spriteSize</key>
			<string>{125,127}</string>
			<key>spriteSourceSize</key>
			<string>{128,135}</string>
			<key>textureRect</key>
			<string>{{749,606},{125,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{878,650},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_400.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{128,85}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{385,650},{128,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_401.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{123,123}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,698},{123,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_402.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,129}</string>
			<key>spriteSourceSize</key>
			<string>{128,129}</string>
			<key>textureRect</key>
			<string>{{125,698},{128,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_403.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{255,722},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_404.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,127}</string>
			<key>spriteSourceSize</key>
			<string>{128,127}</string>
			<key>textureRect</key>
			<string>{{1147,725},{128,127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_405.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1008,728},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_406.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{515,732},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_407.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{128,119}</string>
			<key>spriteSourceSize</key>
			<string>{128,123}</string>
			<key>textureRect</key>
			<string>{{645,733},{128,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_408.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,3}</string>
			<key>spriteSize</key>
			<string>{121,80}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{385,737},{121,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_409.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{775,780},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_410.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{121,97}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{905,780},{121,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_411.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{385,819},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_412.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,121}</string>
			<key>spriteSourceSize</key>
			<string>{128,121}</string>
			<key>textureRect</key>
			<string>{{0,829},{128,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_413.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2.5,0.5}</string>
			<key>spriteSize</key>
			<string>{103,124}</string>
			<key>spriteSourceSize</key>
			<string>{128,133}</string>
			<key>textureRect</key>
			<string>{{130,829},{103,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_5.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{235,852},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_500.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,129}</string>
			<key>spriteSourceSize</key>
			<string>{128,129}</string>
			<key>textureRect</key>
			<string>{{1138,854},{128,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_501.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{128,120}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{645,854},{128,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_502.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-8.5}</string>
			<key>spriteSize</key>
			<string>{127,110}</string>
			<key>spriteSourceSize</key>
			<string>{128,127}</string>
			<key>textureRect</key>
			<string>{{1004,858},{127,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_503.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,127}</string>
			<key>spriteSourceSize</key>
			<string>{128,127}</string>
			<key>textureRect</key>
			<string>{{515,862},{128,127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_504.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{125,113}</string>
			<key>spriteSourceSize</key>
			<string>{128,118}</string>
			<key>textureRect</key>
			<string>{{775,910},{125,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_505.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{365,949},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_506.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,952},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_507.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,132}</string>
			<key>spriteSourceSize</key>
			<string>{128,132}</string>
			<key>textureRect</key>
			<string>{{902,970},{128,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_508.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,129}</string>
			<key>spriteSourceSize</key>
			<string>{128,129}</string>
			<key>textureRect</key>
			<string>{{645,976},{128,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_509.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,123}</string>
			<key>spriteSourceSize</key>
			<string>{128,123}</string>
			<key>textureRect</key>
			<string>{{130,982},{128,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_510.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,132}</string>
			<key>spriteSourceSize</key>
			<string>{128,132}</string>
			<key>textureRect</key>
			<string>{{1133,984},{128,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_511.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,122}</string>
			<key>spriteSourceSize</key>
			<string>{128,122}</string>
			<key>textureRect</key>
			<string>{{495,991},{128,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_512.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6.5}</string>
			<key>spriteSize</key>
			<string>{128,115}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{775,1025},{128,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_513.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6.5}</string>
			<key>spriteSize</key>
			<string>{128,111}</string>
			<key>spriteSourceSize</key>
			<string>{128,124}</string>
			<key>textureRect</key>
			<string>{{260,1079},{128,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,1082},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_600.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1.5,0.5}</string>
			<key>spriteSize</key>
			<string>{93,123}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1036,970},{93,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_601.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,129}</string>
			<key>spriteSourceSize</key>
			<string>{128,129}</string>
			<key>textureRect</key>
			<string>{{892,1100},{128,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_602.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,130}</string>
			<key>textureRect</key>
			<string>{{625,1107},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_603.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{130,1107},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_604.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3.5,-0}</string>
			<key>spriteSize</key>
			<string>{105,126}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1131,1114},{105,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_605.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{127,108}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{390,1115},{127,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_606.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{126,126}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{757,1155},{126,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_7.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,118}</string>
			<key>spriteSourceSize</key>
			<string>{128,118}</string>
			<key>textureRect</key>
			<string>{{260,1192},{128,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_70.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{126,127}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,1212},{126,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_71.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1023,1221},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_72.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1153,1221},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_73.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{128,119}</string>
			<key>spriteSourceSize</key>
			<string>{128,123}</string>
			<key>textureRect</key>
			<string>{{390,1225},{128,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,113}</string>
			<key>spriteSourceSize</key>
			<string>{128,113}</string>
			<key>textureRect</key>
			<string>{{885,1230},{128,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_9.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{128,118}</string>
			<key>spriteSourceSize</key>
			<string>{128,122}</string>
			<key>textureRect</key>
			<string>{{129,1237},{128,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_90.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-5}</string>
			<key>spriteSize</key>
			<string>{127,119}</string>
			<key>spriteSourceSize</key>
			<string>{128,129}</string>
			<key>textureRect</key>
			<string>{{520,1237},{127,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_91.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{122,115}</string>
			<key>spriteSourceSize</key>
			<string>{128,121}</string>
			<key>textureRect</key>
			<string>{{649,1283},{122,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_92.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{121,129}</string>
			<key>spriteSourceSize</key>
			<string>{128,136}</string>
			<key>textureRect</key>
			<string>{{259,1312},{121,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/emote_93.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1.5}</string>
			<key>spriteSize</key>
			<string>{122,119}</string>
			<key>spriteSourceSize</key>
			<string>{128,122}</string>
			<key>textureRect</key>
			<string>{{0,1340},{122,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_94.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{123,123}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{773,1345},{123,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_95.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1.5}</string>
			<key>spriteSize</key>
			<string>{122,119}</string>
			<key>spriteSourceSize</key>
			<string>{128,122}</string>
			<key>textureRect</key>
			<string>{{898,1345},{122,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_96.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1.5}</string>
			<key>spriteSize</key>
			<string>{122,118}</string>
			<key>spriteSourceSize</key>
			<string>{128,121}</string>
			<key>textureRect</key>
			<string>{{390,1346},{122,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/emote_97.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1.5}</string>
			<key>spriteSize</key>
			<string>{122,119}</string>
			<key>spriteSourceSize</key>
			<string>{128,122}</string>
			<key>textureRect</key>
			<string>{{1022,1351},{122,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dankmeme.globed2/emotes-uhd.png</string>
		<key>size</key>
		<string>{1297,1470}</string>
		<key>textureFileName</key>
		<string>dankmeme.globed2/emotes-uhd.png</string>
	</dict>
</dict>
</plist>