<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.qolmod/banner-mask.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{80,130},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{458,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/config.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{458,20},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/cosmetic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{458,40},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/creator.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{458,60},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/discord.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,34}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{162,130},{36,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/draggable.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{21,21}</string>
			<key>spriteSourceSize</key>
			<string>{21,21}</string>
			<key>textureRect</key>
			<string>{{200,130},{21,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/draggablenew.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{26,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{223,130},{26,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/fade.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{390,0},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/favourites.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{390,68},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/format.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{410,68},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/fromside.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{424,0},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/geode1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/geode2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{130,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/geode3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{260,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/heart.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{29,28}</string>
			<key>spriteSourceSize</key>
			<string>{29,28}</string>
			<key>textureRect</key>
			<string>{{257,130},{29,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/history.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{288,130},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/icon effects.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{430,68},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/keybinds.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{450,80},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/labels.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{390,88},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/language.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{410,88},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/level.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{430,88},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/menu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{450,100},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/none.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{390,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/practice-checkpoint.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{16,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{0,130},{16,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/preview.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{308,130},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/profiles.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{390,108},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/questsBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,50}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{328,130},{46,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/restart.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{20,130},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/rulesets.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{410,108},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/scale.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{424,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/screenshot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{480,270}</string>
			<key>spriteSourceSize</key>
			<string>{480,270}</string>
			<key>textureRect</key>
			<string>{{0,212},{480,270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{430,108},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/settings-cog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{40,130},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/shortcuts.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{450,120},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/speaker.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{60,130},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/speedhack.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{390,128},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/squareOverlay.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{0,484},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/theme.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{410,128},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/universal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{430,128},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.qolmod/qolmod-ui-sheet.png</string>
		<key>size</key>
		<string>{480,524}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.qolmod/qolmod-ui-sheet.png</string>
	</dict>
</dict>
</plist>