<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.qolmod/banner-mask.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{320,320}</string>
			<key>spriteSourceSize</key>
			<string>{320,320}</string>
			<key>textureRect</key>
			<string>{{0,514},{320,320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{56,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1802,0},{56,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/config.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1802,58},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/cosmetic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1802,132},{70,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/creator.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{66,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1802,204},{66,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/discord.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{144,114}</string>
			<key>spriteSourceSize</key>
			<string>{144,144}</string>
			<key>textureRect</key>
			<string>{{1616,477},{144,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/draggable.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{322,514},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/draggablenew.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{80,112}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{408,514},{80,112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/fade.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1542,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/favourites.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,70}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1542,260},{72,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/format.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1616,260},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/fromside.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1672,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/geode1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{0,0},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/geode2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{514,0},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/geode3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{512,512}</string>
			<key>spriteSourceSize</key>
			<string>{512,512}</string>
			<key>textureRect</key>
			<string>{{1028,0},{512,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/heart.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{116,113}</string>
			<key>spriteSourceSize</key>
			<string>{118,114}</string>
			<key>textureRect</key>
			<string>{{522,514},{116,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/history.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{640,514},{72,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/icon effects.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1690,260},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/keybinds.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,48}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1870,204},{72,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/labels.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1764,272},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/language.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1838,278},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/level.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{66,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1542,332},{66,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/menu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,66}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1616,334},{72,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/none.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1542,130},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/practice-checkpoint.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{43,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1838,425},{43,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/preview.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,50}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{714,514},{72,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/profiles.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{69,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1690,334},{69,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/questsBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{184,201}</string>
			<key>spriteSourceSize</key>
			<string>{184,201}</string>
			<key>textureRect</key>
			<string>{{788,514},{184,201}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/restart.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1542,466},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/rulesets.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{54,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1764,346},{54,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/scale.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1672,130},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/screenshot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1920,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{0,836},{1920,1080}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{72,71}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1838,352},{72,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/settings-cog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1838,470},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/shortcuts.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,64}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1542,400},{72,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/speaker.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,60}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1762,476},{72,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/speedhack.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1616,402},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/squareOverlay.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{0,1918},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/theme.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1764,402},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/universal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{1690,405},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.qolmod/qolmod-ui-sheet-uhd.png</string>
		<key>size</key>
		<string>{1920,2078}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.qolmod/qolmod-ui-sheet-uhd.png</string>
	</dict>
</dict>
</plist>