<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.qolmod/banner-mask.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{38,258},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{34,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{906,0},{34,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/config.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{906,36},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/cosmetic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{906,74},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/creator.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{906,112},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/discord.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{72,62}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{200,258},{72,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/draggable.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{274,258},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/draggablenew.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,62}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{318,258},{46,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/fade.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{774,0},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/favourites.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{774,132},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/format.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{812,132},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/fromside.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{840,0},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/geode1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/geode2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{258,0},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/geode3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{516,0},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/heart.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{59,57}</string>
			<key>spriteSourceSize</key>
			<string>{59,57}</string>
			<key>textureRect</key>
			<string>{{382,258},{59,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/history.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{443,258},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/icon effects.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{850,132},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/keybinds.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,30}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{888,150},{36,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/labels.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{774,170},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/language.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{812,170},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/level.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{850,170},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/menu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{888,182},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/none.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{774,66},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/practice-checkpoint.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{27,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{926,188},{27,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/preview.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,30}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{926,226},{36,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/profiles.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{774,208},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/questsBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{92,100}</string>
			<key>spriteSourceSize</key>
			<string>{92,100}</string>
			<key>textureRect</key>
			<string>{{481,258},{92,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/restart.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{850,246},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/rulesets.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{926,150},{32,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/scale.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{840,66},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/screenshot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{960,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{0,420},{960,540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{812,208},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/settings-cog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{888,258},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/shortcuts.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{850,208},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/speaker.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{0,258},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/speedhack.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{888,220},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/squareOverlay.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{0,962},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/theme.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{774,246},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/universal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{812,246},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.qolmod/qolmod-ui-sheet-hd.png</string>
		<key>size</key>
		<string>{960,1042}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.qolmod/qolmod-ui-sheet-hd.png</string>
	</dict>
</dict>
</plist>